1. Identify the data type of the following values:
- 99.9
- "False"
- False
- '0'
- 0
- True
- 'True'
- [{}]
- {'a': []}

In [10]:
type(99.9)

float

In [9]:
type("False")

str

In [11]:
type(False)

bool

In [12]:
type('0')

str

In [13]:
type(0)

int

In [14]:
type(True)

bool

In [15]:
type('True')

str

In [16]:
type([{}])

list

In [17]:
type({'a':[]})

dict

2. What data type would best represent the following?

- A term or phrase typed into a search box
- Whether or not a user is logged in
- A discount amount to apply to a user's shopping cart
- Whether or not a coupon code is valid
- An email address typed into a registration form
- The price of a product
- The email addresses collected from a registration form
- Information about applicants to Codeup's data science program

A term or phrase typed into a search box:

String

Whether or not a user is logged in:

Bool

A discount amount to apply to a user's shopping cart:

Float

Whether or not a coupon code is valid:

Bool

An email address typed into a registration form:

String

The price of a product:

Float

The email addresses collected from a registration form:

List of Strings

Information about applicants to Codeup's data science program:

Dict

3. For each of the following code blocks:

- Read the expression and predict the evaluated results

- Execute the expression in a Python REPL.
    - '1' + 2
    - 6 % 4
    - type(6 % 4)
    - type(type(6 % 4))
    - '3 + 4 is ' + 3 + 4
    - 0 < 0
    - 'False' == False
    - True == 'True'
    - 5 >= -5
    - True or "42"
    - 6 % 5
    - 5 < 4 and 1 == 1
    - 'codeup' == 'codeup' and 'codeup' == 'Codeup'
    - 4 >= 0 and 1 !== '1'
    - 6 % 3 == 0
    - 5 % 2 != 0
    - [1] + 2
    - [1] + [2]
    - [1] * 2
    - [1] * [2]
    - [] + [] == []
    - {} + {}

In [18]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [19]:
6 % 4

2

In [20]:
type(6 % 4)

int

In [21]:
type(type(6 % 4))

type

In [22]:
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [23]:
0 < 0

False

In [24]:
'False' == False

False

In [25]:
True == 'True'

False

In [26]:
5 >= -5

True

In [27]:
True or "42"

True

In [28]:
6 % 5

1

In [29]:
5 < 4 and 1 == 1

False

In [30]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [31]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (383778220.py, line 1)

In [32]:
6 % 3 == 0

True

In [33]:
5 % 2 != 0

True

In [34]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [35]:
[1] + [2]

[1, 2]

In [36]:
[1] * 2

[1, 1]

In [37]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [38]:
[] + [] == []

True

In [39]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

4. Describe the following scenarios. You will need to create and assign variables and use operators.

(Describe the following scenarios. You will need to create and assign variables and use operators)

5. You have rented some movies for your kids:
- The Little Mermaid for 3 days
- Brother Bear for 5 days
- Hercules for 1 day

If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [2]:
the_little_mermaid = 3 * 3
brother_bear = 5 * 3
hercules = 1 * 3
total_fee = the_little_mermaid + brother_bear + hercules
total_fee

27

(Describe the following scenarios. You will need to create and assign variables and use operators)

6. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:
- Google: 400 dollars
- Amazon: 380 dollars
- Facebook: 350 dollars

This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

How much will you receive in payment for this week?

In [50]:
google_hourly_rate = 400
amazon_hourly_rate = 380
facebook_hourly_rate = 350
total_pay = (google_hourly_rate * 6) + (amazon_hourly_rate * 4) + (facebook_hourly_rate * 10)
total_pay

7420

(Describe the following scenarios. You will need to create and assign variables and use operators)

7. A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [68]:
class_room = 'Not Full'
class_schedule = 'No Conflict'
student_enrolled = class_room == 'Not Full' and class_schedule == 'No Conflict'
student_not_enrolled = class_room != 'Not Full' and class_schedule != 'No Conflict'
class_room == 'Not Full' and class_schedule == 'No Conflict'

False

(Describe the following scenarios. You will need to create and assign variables and use operators)

8. A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [6]:
premium_member = input('Do you have premium membership?')
prod_purchased = int(input('How many items were purchased'))
offer_valid = input('Is offer still valid?')
is_premium = premium_member.lower() in ['yes', 'y']
more_than_enough = prod_purchased > 2
valid_coupon = offer_valid.lower() in ['yes', 'y']
if (is_premium or more_than_enough) and valid_coupon: print('Product Offer Applied')
else: print('Product Offer Denied')

Do you have premium membership?n
How many items were purchased1
Is offer still valid?n
Product Offer Denied

9. Continue working in the data_types_and_variables.py file. Use the following code to follow the instructions below:

- username = 'codeup'
- password = 'notastrongpassword'

Create a variable that holds a boolean value for each of the following conditions:

- The password must be at least 5 characters
- The username must be no more than 20 characters
- The password must not be the same as the username
- <b> Bonus </b> Neither the username or password can start or end with whitespace

In [104]:
username = input("What's your username?")
password = input("What's your password?")
strong_password = len(password) > 5 
reasonable_username =len(username) < 20
mimicry_restrained = username != password
if strong_password == True and reasonable_username == True and mimicry_restrained == True:
    print('Great Job!')
else: print ('Try Again!')

What's your username?that_guy
What's your password?123456
Great Job!